body{
    width: 100%;
    height: 100vh;
      
    .headerFlex{
        display: flex;
        flex-flow: nowrap;
        justify-content: start;
        align-items:center;
        overflow: hidden;   
        img { width: 200px; }
    }
    .asideFlex h2{
        display: flex;
        justify-content:stretch;
        align-items: center;
    }
    iframe{
        border-radius: 35px;
        border-color: rgb(61, 4, 61);
            }
    input{
        border-radius: 10px;
        margin: 10px;
    }
    .border{
        border:solid 1px rgb(28, 68, 55);
        
    }
    .espacios{
        margin: 20px;
    }
    
}
